@font-face {
  font-family: "svgtofont";
  src: url('svgtofont.eot?t=1757598016974'); /* IE9*/
  src: url('svgtofont.eot?t=1757598016974#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('svgtofont.woff2?t=1757598016974') format('woff2'),
  url('svgtofont.woff?t=1757598016974') format('woff'),
  url('svgtofont.ttf?t=1757598016974') format('truetype'),
  url('svgtofont.svg?t=1757598016974') format('svg');
}

[class^="svgtofont-"], [class*=" svgtofont-"] {
  font-family: 'svgtofont' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.svgtofont-adobe::before { content: "\ea01"; }
.svgtofont-demo::before { content: "\ea02"; }
.svgtofont-git::before { content: "\ea03"; }
.svgtofont-left::before { content: "\ea04"; }
.svgtofont-stylelint::before { content: "\ea05"; }


