@font-face {font-family: "svgtofont";
  src: url('svgtofont.eot?t=1680096340008'); /* IE9*/
  src: url('svgtofont.eot?t=1680096340008#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("svgtofont.woff2?t=1680096340008") format("woff2"),
  url("svgtofont.woff?t=1680096340008") format("woff"),
  url('svgtofont.ttf?t=1680096340008') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('svgtofont.svg?t=1680096340008#svgtofont') format('svg'); /* iOS 4.1- */
}

[class^="svgtofont-"], [class*=" svgtofont-"] {
  font-family: 'svgtofont' !important;
  font-size: 12px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svgtofont-adobe:before { content: "\ea01"; }
.svgtofont-demo:before { content: "\ea02"; }
.svgtofont-git:before { content: "\ea03"; }
.svgtofont-left:before { content: "\ea04"; }
.svgtofont-stylelint:before { content: "\ea05"; }

$svgtofont-adobe: "\ea01";
$svgtofont-demo: "\ea02";
$svgtofont-git: "\ea03";
$svgtofont-left: "\ea04";
$svgtofont-stylelint: "\ea05";

